<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation tempDirectory="C:\inetpub\vhosts\u0382424.plsk.regruhosting.ru\tmp" />
  </system.web>
<system.webServer>
    <rewrite>
      <rules>
          <rule name="Redirect to https" stopProcessing="true">
            <match url="(.*)" />
              <conditions logicalGrouping="MatchAll">
                <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                <add input="{REQUEST_URI}" negate="true" pattern="^/robots\.txt$" ignoreCase="true" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
          </rule>
          <rule name="Rewrites" stopProcessing="true">
               <match url=".*\.php" />
                 <conditions logicalGrouping="MatchAll">
                   <add input="{REQUEST_URI}" negate="false" pattern=".*coding-challenges.*pryanichkin.*index\.php|.*coding-challenges.*pryanichkin.*admin\.php" ignoreCase="true" />
                 </conditions>
               <action type="Rewrite" url="coding_challenges/pryanichkin/index.php" />
          </rule>
        </rules>
    </rewrite>
    <ModSecurity enabled="false" />
  	</system.webServer>
</configuration>